.container-clases {
  margin-left: 40px;
  width: calc(100% - 440px);
  height: max-content;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #ececec;
}
.container-clases .header-course {
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
}
.container-clases .header-course h1 {
  font-size: 18px;
  font-weight: 400;
  color: #5b5b5b;
}
.body-course {
  width: 100%;
  height: max-content;
}
.body-course .course-card {
  padding: 20px 24px;
  display: flex;
  border-bottom: 1px solid #ececec;
  background: #fff;
}
.body-course .course-card .img-teacher img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.body-course .course-card .description-course {
  width: 100%;
  padding: 0px 30px;
}
.body-course .no-register-class {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
}
.body-course .course-card .description-course span {
  font-size: 14px;
  font-weight: 500;
  color: #5b5b5b;
}
.body-course .course-card .description-course p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.body-course .course-card .description-course a {
  display: inline-block;
  padding: 5px 20px;
  background: #5b5b5b;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.body-course .course-card .description-course a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 0px #fafafa;
}
.body-course .course-card .description-course .porcentaje_clase {
  width: 50%;
  border-radius: 20px;
  height: 10px;
  border: 1px solid #ececec;
  position: relative;
  overflow: hidden;
}
.body-course .course-card .description-course .porcentaje_clase::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #08d8a1;
}
.body-course .course-card .description-course h2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

@media screen and (max-width: 1198px) {
  .container-clases {
    width: 100%;
    margin-left: 0;
  }
}
